#form{
	max-width:450 px;
}
#form > div{
	position: relative;
}
.input-field{
	display: block;
	width:300px;
	margin-top:10px;
	height:35px;
	margin-bottom:25px;
	border:1px solid #2BC1F2;
	border-radius: 3px;
	box-shadow: 0 0 15px;
}
button{
	color: #2BC1F2;
	width: 150px;
	height: 30px;
	border:1px solid #2BC1F2;
}
#button:hover{
	cursor:pointer;
}
input:invalid {
  background: hsla(0, 90%, 70%, 1);
}

input:valid {
  background: hsla(100, 90%, 70%, 1);
}
.error-input-border{
	border: 1px solid red;
}

